In [1]:
import pandas as pd
import scipy.stats
import numpy as np

In [142]:
data = pd.read_csv(r'haberman/haberman.csv', sep = ' ', header = None, skiprows = 1)

In [143]:
data =data.set_index(0)

In [144]:
data

      1   2  3  4
0
0    30  64  1  1
1    30  62  3  1
2    30  65  0  1
3    31  59  2  1
4    31  65  4  1
..   ..  .. .. ..
301  75  62  1  1
302  76  67  0  1
303  77  65  3  1
304  78  65  1  2
305  83  58  2  2

[306 rows x 4 columns]

In [145]:
def pick_samples(sampling,sizeprm):
    import random as rnd
    sample_size = int(len(data)*sizeprm)
    if sampling=='random':
        return rnd.sample(range(len(data)), sample_size)

In [170]:
sample=pd.DataFrame(pick_samples('random',.05))
sample_data = data.loc[data.index[sample[0]]]
import matplotlib.pyplot as plt
fig = plt.figure()
#plt.scatter(data[1],data[2],c=data[3], alpha=0.5)
#plt.scatter(sample_data[0],sample_data[1], marker = '*')
#plt.show

In [171]:
#plt.scatter(data[0],data[1],c=data[2], alpha=0.5)
#plt.scatter(sample_data[1],sample_data[2],c=sample_data[3], marker = '*')

In [172]:
p_data = sample_data[4].value_counts()

In [173]:
entropy = scipy.stats.entropy(p_data, base=len(p_data))

In [174]:
entropy

0.8366407419411673

In [175]:
p_data

1    11
2     4
Name: 4, dtype: int64

In [53]:
sample.to_csv('hdbscan/randomSamples.csv',sep=' ',header=None,index=None)

In [25]:
sample=pd.DataFrame(pick_samples('random',.05))

In [32]:
sample

        0
0     859
1    1223
2    2496
3    1749
4     273
..    ...
150   886
151  1571
152  1940
153  1584
154  2868

[155 rows x 1 columns]

In [33]:
p_data

9     22
25    20
7     20
2     19
13    19
19    18
8     18
18    18
30    18
11    18
24    17
10    17
16    17
1     16
6     16
31    14
27    14
3     14
22    14
26    14
17    13
28    12
14    12
15    12
23    12
5     12
20    11
4     11
21    10
12    10
29     7
Name: 3, dtype: int64