In [6]:
import pandas as pd
import numpy as np
import scipy.stats

In [17]:
dataset = 'shuttle'
tree_criterion = 'random'
leaf_criterion = 'soft_discard'
point_criterion = 'border_points'
sample_size = 5

In [18]:
data = pd.read_csv(dataset+'/'+dataset+'.csv', sep = ' ', header = None, skiprows = 1)
#sample = pd.read_csv(dataset+'/sampleSets/5_Run'+str(sample_size)+'%_'+tree_criterion+'_'+leaf_criterion+'_'+point_criterion+'_sampleSet.csv', sep =' ', header = None)
data =data.set_index(0)

In [19]:
data

       1   2    3   4   5   6   7    8    9   10
0
0      55   0   92   0   0  26  36   92   56   4
1      53   0   82   0  52  -5  29   30    2   1
2      37   0   76   0  28  18  40   48    8   1
3      37   0   79   0  34 -26  43   46    2   1
4      85   0   88  -4   6   1   3   83   80   5
...    ..  ..  ...  ..  ..  ..  ..  ...  ...  ..
57994  80   0   84   0 -36 -29   4  120  116   5
57995  55   0   81   0 -20  25  26  102   76   4
57996  55   0   77   0  12 -22  22   65   42   4
57997  37   0  103   0  18 -16  66   85   20   1
57998  56   2   98   0  52   1  42   46    4   4

[57999 rows x 10 columns]

In [20]:
p_data = data[len(data.columns)].value_counts()

In [22]:
p_data

1    45586
4     8903
5     3267
3      171
2       49
7       13
6       10
Name: 10, dtype: int64

In [23]:
entropy = scipy.stats.entropy(p_data, base=len(p_data))

NameError: name 'p_sample_data' is not defined

In [5]:
sample_data = data.loc[data.index[sample[0]]]
p_sample_data = sample_data[len(sample_data.columns)].value_counts() 
entropy = scipy.stats.entropy(p_sample_data, base=len(p_sample_data))

NameError: name 'sample' is not defined

In [ ]:
print(p_sample_data)
print("Entropy:",entropy)

In [ ]:
type(p_sample_data)

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure()
plt.scatter(data[1],data[2],c=data[3], alpha=0.5)
#plt.savefig('2Q')

In [ ]:
plt.scatter(sample_data[1],sample_data[2],c=sample_data[3], marker = 'o')
#plt.scatter(sample_data[1],sample_data[2], marker = '*')